Repository RedditxClone/Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "{src,apps,libs,test}/**/*.ts": ["eslint --fix"],
  "./**/*.{js,json,*rc}": ["prettier --write"]
}

test post-comment tests with suitable coverage
  src/post-comment/post-comment.service.spec.ts
Due: eslint --fix

docs: 90+ % coverage
  src/block/block.service.ts
  src/follow/follow.service.ts
  src/module/controller/controller.service.ts
  src/search/search.service.ts
  src/utils/apiFeatures/api-features.service.ts
  src/utils/imagesHandler/images-handler.service.ts
  src/utils/mail/mail.service.ts
  src/utils/utils.service.ts
  src/vote/vote.service.ts
Due: eslint --fix

docs: add docstrings to postcomment service
  src/post-comment/post-comment.service.ts
Due: eslint --fix

doc: add the last bit of doc
  src/message/message.service.ts
  src/notification/notification.service.ts
  src/post-comment/post-comment.service.ts
  src/post/post.service.ts
  src/user/entities/user.entity.ts
  src/user/user.service.ts
  src/utils/seeder/seeder.service.ts
Due: eslint --fix

test: subreddit
  src/post-comment/post-comment.service.spec.ts
  src/subreddit/subreddit.service.spec.ts
Due: eslint --fix

Update Jenkinsfile
  Jenkinsfile
Due: none

Adding sr requests
  collections/redditxClone.postman_collection.json
Due: prettier --write

doc: update postman collection
  collections/redditxClone.postman_collection.json
Due: prettier --write

test: removed github token from public repo
  src/auth/auth.service.spec.ts
  src/subreddit/subreddit.service.spec.ts
Due: eslint --fix
