Repository RedditxClone/Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

forget password finished
  package-lock.json
  package.json
  src/auth/__mocks__/auth.service.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.integration.e2e-spec.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/changePassword.dto.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix, prettier --write

18-account-settings-requests
  package-lock.json
  package.json
  src/main.ts
  src/user/dto/index.ts
  src/user/dto/prefs.dto.ts
  src/user/test/stubs/user.stub.ts
  src/user/user.controller.ts
  src/user/user.schema.ts
  src/user/user.service.ts
Due: eslint --fix, prettier --write

10-check-if-username-available-or-not-requests
  src/user/__mocks__/user.service.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
Due: eslint --fix

Adding api feature with the testing
  src/utils/apiFeatures.service.ts
  src/utils/apiFeatures/apiFeatures.service.spec.ts
  src/utils/apiFeatures/apiFeatures.service.ts
  src/utils/apiFeatures/dto/apiFeaturesDto.ts
  src/utils/apiFeatures/testing/returnModelTesting.ts
  src/utils/apiFeatures/testing/testApiFeatureModelTesting.ts
Due: eslint --fix

18-account-settings-requests
  src/user/dto/prefs.dto.ts
  src/user/user.controller.ts
  src/user/user.schema.ts
  src/user/user.service.ts
Due: eslint --fix

Fixing a bug in testing
  src/utils/apiFeatures/apiFeatures.service.spec.ts
Due: eslint --fix

18-account-settings-requests
  src/user/__mocks__/user.service.ts
  src/user/dto/prefs.dto.ts
  src/user/user.service.spec.ts
Due: eslint --fix

18-account-settings-requests
  package-lock.json
  src/auth/auth.service.spec.ts
  src/block/block.service.spec.ts
Due: eslint --fix, prettier --write

Solving the issue with dev branch
  src/subreddit/subreddit.integration.e2e-spec.ts
Due: eslint --fix

18-account-settings-requests
  src/user/dto/prefs.dto.ts
  src/user/test/stubs/user.stub.ts
  src/user/user.controller.spec.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.schema.ts
Due: eslint --fix

Handling error massages in the e2e testing
  src/block/block.service.ts
  src/follow/follow.service.ts
  src/subreddit/subreddit.integration.e2e-spec.ts
  src/subreddit/subreddit.service.ts
  src/user/user.controller.ts
  src/utils/utils.service.ts
Due: eslint --fix

Put the static folder inside the src directory
  src/statics/subreddit_icons/description.txt
  src/subreddit/subreddit.integration.e2e-spec.ts
  src/subreddit/subreddit.service.spec.ts
  src/subreddit/subreddit.service.ts
Due: eslint --fix

fixing testing errors before merge
  package-lock.json
  package.json
  src/subreddit/subreddit.service.spec.ts
Due: eslint --fix, prettier --write

adding example.env variable
  example.env
Due: none

13-forget-password-request
  example.env
  src/auth/auth.integration.e2e-spec.ts
  src/utils/__mocks__/mail.service.ts
  src/utils/__mocks__/mailer.service.ts
Due: eslint --fix

Update user.service.spec.ts
  src/user/user.service.spec.ts
Due: eslint --fix

Creating deleteAccount function with all of it's testing
  src/user/__mocks__/user.service.ts
  src/user/test/stubs/user.stub.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.schema.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix

making login to be with username
  src/auth/auth.controller.spec.ts
  src/auth/auth.integration.e2e-spec.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/login.dto.ts
Due: eslint --fix

build: create configuration for formatters and linters
  .commitlintrc.json
  .czrc
  .editorconfig
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  test/jest-e2e.json
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write

build: update eslint config
  .eslintrc.js
Due: prettier --write

feat: create all exception filter
  src/main.ts
  src/utils/all-exception.filter.ts
Due: eslint --fix

docs: update README with contribution guide
  README.md
Due: none

get saved post but post schema is missing
  src/auth/auth.service.ts
  src/user/__mocks__/user.service.ts
  src/user/test/stubs/user.stub.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.schema.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix

chore: update .gitignore
  .gitignore
Due: none

refactor: use positional exception arg
  src/subreddit/subreddit.service.ts
Due: eslint --fix

fix: fixing testing failed
  .eslintrc.js
  package-lock.json
  package.json
  src/auth/auth.integration.e2e-spec.ts
  src/auth/auth.service.ts
  src/auth/stratigies/admin.startegy.ts
  src/auth/stratigies/user.strategy.ts
  src/statics/subreddit_icons/636b462f1de8b2cdde86d3cb.jpeg
  src/subreddit/subreddit.integration.e2e-spec.ts
  src/user/user.controller.spec.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
  src/utils/all-exception.filter.ts
Due: eslint --fix, prettier --write

refactor: run linter on seeder files
  src/seed.ts
  src/utils/seeder/seeder.module.ts
  src/utils/seeder/seeder.service..ts
Due: eslint --fix

fix(open api docuemntation): completing api documentation for user and auth
  src/auth/auth.controller.ts
  src/user/dto/create-user.dto.ts
  src/user/dto/index.ts
  src/user/dto/user-filter.dto.ts
  src/user/dto/user.dto.ts
  src/user/user.controller.ts
  src/user/user.service.ts
Due: eslint --fix

feat: create admin in seeder
  example.env
  src/seed.ts
  src/utils/seeder/seeder.module.ts
  src/utils/seeder/seeder.service..ts
  src/utils/seeder/seeder.service.ts
Due: eslint --fix

refactor: removing cookies decorator
  src/auth/auth.controller.ts
Due: eslint --fix

build(npm): install @nestjs/terminus
  package-lock.json
  package.json
Due: prettier --write

feat: create heatlth check endpoint
  src/app.module.ts
  src/health/health.controller.ts
  src/health/health.module.ts
  src/main.ts
Due: eslint --fix

test: e2e spec for health endpoint
  src/health/health.controller.spec.ts
  src/health/health.integration.e2e-spec.ts
Due: eslint --fix

Adding additional test case
  src/user/user.controller.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix

fix: fixing snake case uris, and fixing responses in the open api
  src/main.ts
  src/post/post.controller.ts
  src/user/user.controller.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix

fix: fixing api version to 1.2
  src/main.ts
Due: eslint --fix

Adding closedAccount to the prefs dto
  src/user/dto/prefs.dto.ts
  src/user/user.controller.spec.ts
Due: eslint --fix

Adding pre find to check if the user is not blocked and fixing some styling issues
  src/user/test/stubs/user.stub.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.schema.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix

Adding getBlocked users
  src/block/block.schema.ts
  src/block/block.service.ts
  src/user/user.controller.ts
  src/user/user.service.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,apps,libs,test}/**/*.ts
  prettier --write: any of: ./**/*.{js,json,*rc}
