Repository RedditxClone/Backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

build: add format checking to prepush hook
  package.json
Due: prettier --write

added e2e testing to login & signup
  example.env
  src/auth/auth.integration.spec.ts
Due: eslint --fix

Edited test command nocache and closed server
  package.json
  src/auth/auth.integration.spec.ts
Due: eslint --fix, prettier --write

mocked email service in test
  src/auth/auth.integration.spec.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/utils/__mocks__/mail.service.ts
  src/utils/index.ts
  src/utils/mail/mail.service.spec.ts
Due: eslint --fix

Adding subreddit schema
  src/subreddit/subreddit.schema.ts
Due: eslint --fix

12-forget-username-requests
  package.json
  src/auth/__mocks__/auth.service.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.integration.spec.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/utils/__mocks__/mail.service.ts
Due: eslint --fix, prettier --write

modifing subreddit dto
  src/subreddit/dto/create-subreddit.dto.ts
  src/subreddit/subreddit.module.ts
Due: eslint --fix

Modifing create-subreddit dto file
  src/subreddit/dto/create-subreddit.dto.ts
Due: eslint --fix

Adding flair dto file
  src/subreddit/dto/flair.dto.ts
  src/subreddit/subreddit.controller.ts
  src/subreddit/subreddit.module.ts
  src/subreddit/subreddit.schema.ts
  src/subreddit/subreddit.service.ts
Due: eslint --fix

Adding flairs to schema
  src/subreddit/subreddit.controller.ts
  src/subreddit/subreddit.schema.ts
Due: eslint --fix

create subreddit request
  src/main.ts
  src/subreddit/dto/flair.dto.ts
  src/subreddit/dto/subreddit.dto.ts
  src/subreddit/dto/update-subreddit.dto.ts
  src/subreddit/subreddit.controller.ts
  src/subreddit/subreddit.service.ts
Due: eslint --fix

fix typo in schema
  src/subreddit/subreddit.schema.ts
Due: eslint --fix

10-check-if-username-available-or-not-requests
  package-lock.json
  package.json
  src/user/dto/available-username.dto.ts
  src/user/dto/index.ts
  src/user/user.controller.ts
  src/user/user.service.ts
Due: eslint --fix, prettier --write

10-check-if-username-available-or-not-requests
  src/user/__mocks__/user.service.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.integration.spec.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix

adding follow/unfollow user
  example.env
  package.json
  src/app.module.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.integration.e2e-spec.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/guards/user.guard.ts
  src/auth/stratigies/user.strategy.ts
  src/follow/__mocks__/follow.service.ts
  src/follow/dto/follow.dto.ts
  src/follow/entities/follow.entity.ts
  src/follow/follow.module.ts
  src/follow/follow.schema.ts
  src/follow/follow.service.spec.ts
  src/follow/follow.service.ts
  src/user/__mocks__/user.service.ts
  src/user/test/stubs/user.stub.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.module.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
  src/utils/throwException.ts
  test/app.e2e-spec.ts
  test/jest-e2e.json
Due: eslint --fix, prettier --write

merged successfully
  src/auth/auth.module.ts
  src/follow/follow.service.ts
  src/user/user.integration.e2e-spec.ts
Due: eslint --fix

Working on subreddit requests
  src/subreddit/dto/flair.dto.ts
  src/subreddit/subreddit.controller.ts
  src/subreddit/subreddit.schema.ts
  src/subreddit/subreddit.service.ts
Due: eslint --fix

Modifing the main to match the development branch
  src/main.ts
Due: eslint --fix

14-reset-password-requests
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/changePassword.dto.ts
Due: eslint --fix

14-reset-password-requests
  src/auth/__mocks__/auth.service.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.integration.e2e-spec.ts
  src/auth/auth.service.spec.ts
Due: eslint --fix

feat: initial seeder module
  package.json
  src/main.ts
  src/seed.ts
  src/utils/seeder/seeder.module.ts
  src/utils/seeder/seeder.service..ts
Due: eslint --fix, prettier --write

Update auth.integration.e2e-spec.ts
  src/auth/auth.integration.e2e-spec.ts
Due: eslint --fix

resolve conflicts
  src/user/user.integration.e2e-spec.ts
  src/user/user.integration.spec.ts
Due: eslint --fix

14-reset-password-requests
  src/auth/auth.service.ts
  src/auth/dto/changePassword.dto.ts
Due: eslint --fix

feat: implement seed user
  src/main.ts
  src/seed.ts
  src/utils/seeder/seeder.module.ts
  src/utils/seeder/seeder.service..ts
Due: eslint --fix

Merge branch 'development' into 26-precommit
  example.env
  package.json
Due: prettier --write

build: add missing dependencies
  package-lock.json
  package.json
Due: prettier --write

Merge branch 'development' into 26-precommit
  src/auth/auth.integration.spec.ts
  src/auth/dto/change-password.dto.ts
  src/auth/dto/forget-password.dto.ts
  src/auth/dto/forget-username.dto.ts
  src/message/dto/message-return.dto.ts
Due: eslint --fix

adding block and unblock
  package.json
  src/app.module.ts
  src/auth/auth.integration.e2e-spec.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/block/__mocks__/block.service.ts
  src/block/block.module.ts
  src/block/block.schema.ts
  src/block/block.service.spec.ts
  src/block/block.service.ts
  src/block/dto/block.dto.ts
  src/block/dto/create-block.dto.ts
  src/block/dto/update-block.dto.ts
  src/block/entities/block.entity.ts
  src/follow/__mocks__/follow.service.ts
  src/follow/follow.service.ts
  src/user/__mocks__/user.service.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.module.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
  test/jest-e2e.json
Due: eslint --fix, prettier --write

18-account-settings-requests
  example.env
  package-lock.json
  package.json
  src/auth/auth.controller.spec.ts
  src/auth/auth.integration.e2e-spec.ts
  src/auth/auth.service.spec.ts
  src/follow/follow.service.spec.ts
  src/main.ts
  src/user/dto/user.dto.ts
  src/user/test/stubs/user.stub.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.schema.ts
  src/user/user.service.spec.ts
Due: eslint --fix, prettier --write

adding documenation
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/guards/admin.guard.ts
  src/auth/guards/index.ts
  src/auth/stratigies/admin.startegy.ts
  src/user/__mocks__/user.service.ts
  src/user/user.controller.spec.ts
  src/user/user.controller.ts
  src/user/user.integration.e2e-spec.ts
  src/user/user.module.ts
  src/user/user.service.spec.ts
  src/user/user.service.ts
Due: eslint --fix

edit documenation
  src/user/user.controller.ts
Due: eslint --fix

completing testing for get user by id
  src/user/user.integration.e2e-spec.ts
  src/user/user.service.ts
Due: eslint --fix

Adding (the test of the subreddit service + Some routes for the subreddit)
  package-lock.json
  package.json
  src/main.ts
  src/subreddit/__mocks__/subreddit.service.ts
  src/subreddit/dto/create-subreddit.dto.ts
  src/subreddit/dto/flair.dto.ts
  src/subreddit/dto/subreddit.dto.ts
  src/subreddit/subreddit.controller.spec.ts
  src/subreddit/subreddit.controller.ts
  src/subreddit/subreddit.integration.e2e.spec.ts
  src/subreddit/subreddit.schema.ts
  src/subreddit/subreddit.service.spec.ts
  src/subreddit/subreddit.service.ts
  src/subreddit/test/stubs/flair.stub.ts
  src/subreddit/test/stubs/subreddit.stub.ts
  src/utils/throwException.ts
  test/photos/testingPhoto.jpeg
Due: eslint --fix, prettier --write

Adding apiFeature service
  src/utils/apiFeatures.service.ts
Due: eslint --fix

Finishing the testing for the subreddit requests
  src/subreddit/__mocks__/subreddit.service.ts
  src/subreddit/subreddit.controller.spec.ts
  src/subreddit/subreddit.controller.ts
  src/subreddit/subreddit.integration.e2e.spec.ts
  src/subreddit/subreddit.module.ts
  src/subreddit/subreddit.service.spec.ts
  src/subreddit/subreddit.service.ts
  src/subreddit/test/stubs/subreddit.stub.ts
Due: eslint --fix

commit
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/forgetPassword.dto.ts
  src/auth/guards/forget-password.guard.ts
  src/auth/stratigies/forget-password.strategy.ts
  src/user/dto/user-filter.dto.ts
  src/user/user.schema.ts
  src/user/user.service.ts
Due: eslint --fix

Fixing some rules issues for the pr
  src/subreddit/dto/flair.dto.ts
  src/subreddit/dto/subreddit.dto.ts
  src/subreddit/dto/update-subreddit.dto.ts
  src/subreddit/subreddit.integration.e2e.spec.ts
  src/subreddit/subreddit.schema.ts
  src/subreddit/subreddit.service.spec.ts
  src/subreddit/subreddit.service.ts
  src/subreddit/test/photos/testingPhoto.jpeg
  src/subreddit/test/stubs/subreddit.stub.ts
  src/utils/apiFeatures/apiFeatures.service.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: {src,apps,libs,test}/**/*.ts
  prettier --write: any of: ./**/*.{js,json,*rc}
